body{
    background-image: url(pexels-nav-photography-5458354.jpg );    
}
#contenedor{
    width: 960px;
    height: 700px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
}
header{
    width: 960px;
    height: 156px;
    background-color: gray;
}
article{
    width: 640px;
    height: 500px;
    background-color: brown;
    float: left;
}
aside{
    width: 300px;
    height: 500px;
    background-color: chartreuse;
    float: right;
}
footer{
    width: 960px;
    height: 120px;
    background-color: black;
    clear:both;
}
